img {
    max-height: 70px;
}

active {
    display: inline-block;
    font-family: FontAwesome;
    color: green;
    cursor: pointer;
}

    active:before {
        content: '\f09c';
    }

.False:before {
    content: '\f023';
    color: dimgrey;
}
