<!-- sidebar menu start-->
<ul class="sidebar-menu">
    <li class=""><a  href="@Url.Action("Index","HopDong")"><i class="icon_house_alt"></i><span>HỢP ĐỒNG</span></a></li>
    <li class=""><a  href="@Url.Action("Index","KhachHang")"><i class="icon_house_alt"></i><span>KHÁCH HÀNG</span></a></li>
    <li class=""><a  href="@Url.Action("Index","LoaiHD")"><i class="icon_house_alt"></i><span>LOẠI HD</span></a></li>
    <li class=""><a  href="@Url.Action("Index","TaiKhoan")"><i class="icon_house_alt"></i><span>TÀI KHOẢN</span></a></li>
</ul>
<!-- sidebar menu end-->